

/* customStyles.css */
.bg-grid-custom {
  background-size: 50px 50px; /* Adjust the size here */
}

.join-us-button {
box-shadow: inset 0 4px 4px rgba(255, 255, 255, 0.5);
}
.text-brightness-20 {
filter: brightness(20%);
}
body {
overflow-x: hidden;


}
/* For all scrollable elements */
::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

@keyframes drawWave {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-wave {
  stroke-dasharray: 200; /* Adjust based on the length of your path */
  stroke-dashoffset: 200; /* Adjust based on the length of your path */
  animation: drawWave 2s ease-out forwards;
}






